@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>The Best Blog</h1>
        <p>Welcome to the best blog ever!</p>
    </div>
</div>


