@using PetStore.Web.ViewModels.Categories;
@model EditCategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Category</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" minlength="3" maxlength="30"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <input type="submit" value="Save" class="btn btn-warning" />
                
                <a asp-action="All" class="btn btn-primary">See All</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
