@model PetStore.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
    <h1 class="display-1 fw-bold text-danger">@Model.ErrorMessage</h1>
</div>
